*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.flex {
  display: flex;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #000;
}

.container {
  padding: 0 2rem;
  height: 100%;
  width: 100%;
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-130px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonMoveIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: transform 200ms;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.75rem 0.9rem 1.5rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 2.5rem;
}

.u-container {
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 71.25rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 6rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.25rem;
}

.u-margin-bottom-big {
  margin-bottom: 3.75rem;
}

.u-margin-bottom-huge {
  margin-bottom: 6.25rem;
}

.header {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("./../img/hero.jpg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
}

.header__logo-box {
  width: 4rem;
  position: absolute;
  inset: 2rem auto auto 2rem;
}

.header__logo {
  width: 100%;
}

.nav {
  width: 4rem;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  inset: 2rem 2rem auto auto;
}

.header__text {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -40%);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Safari */
  text-align: center;
}

.header__text h1 {
  font-size: 5rem;
  letter-spacing: 30px;
  animation: moveInLeft 900ms;
}

.header__text p {
  font-size: 2rem;
  letter-spacing: 15px;
  animation: moveInRight 900ms;
}

.row {
  max-width: 71.25rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 5rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 5rem;
}

.row .col-1-of-2 {
  width: calc((100% - 5rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 5rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 100% - 5rem - (100% - 2 * 5rem) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 5rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 100% - 2 * (100% - 3 * 5rem) / 4 - 2 * 5rem);
}

.row .col-3-of-4 {
  width: calc( 100% - (100% - 3 * 5rem) / 4 - 5rem);
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: 1em 1.5em;
  border-radius: 3rem;
  transition: transform 200ms;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background: #fff;
  color: #777;
  margin-top: 2rem;
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background: #55c57a;
  color: #fff;
  margin-top: 2rem;
}

.btn--green::after {
  background-color: #55c57a;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  background: #fff;
  position: absolute;
  inset: 0 0 auto auto;
  z-index: -1;
  transition: transform, opacity 800ms;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: buttonMoveIn 500ms ease-in-out 800ms;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: transform 200ms ease-in-out;
}

.btn-text:hover {
  color: #fff;
  background: #55c57a;
  box-shadow: 0 0.75rem 1.75rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.75rem 1.75rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: transform 200ms ease-in-out;
  outline-offset: 1.5rem;
}

.composition__photo--p1 {
  left: 0;
  top: -1.6rem;
}

.composition__photo--p2 {
  right: 0;
  top: 1.6rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 5rem;
}

.composition__photo:hover {
  outline: 1rem solid #55c57a;
  transform: scale(1.05) translateY(-0.35rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9375rem;
  padding: 1.5625rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.4rem 2.5rem rgba(0, 0, 0, 0.15);
  transition: transform 200ms ease-in-out;
}

.feature-box:hover {
  transform: translateY(-0.9375rem) scale(1.03);
}

.feature-box__icon {
  font-size: 3.75rem;
  margin-bottom: 0.3125rem;
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card {
  perspective: 93.75rem;
  height: 50rem;
  position: relative;
}

.card__side {
  font-size: 3rem;
  height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 1000ms ease;
  border-radius: 3px;
  box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg);
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg);
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg);
}

.card__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  position: absolute;
  top: 15rem;
  right: 1.25rem;
}

.card__heading-span {
  padding: 0.625rem 0.9375rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  padding: 1.875rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
}

.card__details ul li {
  text-align: center;
  font-size: 0.9375rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card__price-box {
  margin-bottom: 5rem;
  color: #fff;
}

.card__price-only {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 3.75rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.875rem 3.75rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 3.75rem;
  padding-left: 5.625rem;
  font-size: 1rem;
  transform: skewX(-12deg);
}

.story__shape {
  width: 9.375rem;
  height: 9.375rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  transform: skewX(12deg) translate(-2.5rem);
  position: relative;
}

.story__img {
  height: 100%;
  transform: translateX(-35px) scale(1.4);
  transition: all 300ms ease-in-out;
}

.story__text {
  transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
  backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.story:hover .story__img {
  filter: blur(3px) brightness(80%);
  -webkit-filter: blur(3px) brightness(80%);
  transform: translateX(-35px) scale(1);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 17rem 0;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("./../img/nat-4.jpg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -8rem;
}

.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -8rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
/*# sourceMappingURL=main.css.map */