.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 4.375rem;
    width: 4.375rem;
    position: fixed;
    top: 3.75rem;
    right: 3.75rem;
    z-index: 1000;
  }

  &__background {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    position: fixed;
    top: 4.1rem;
    right: 4.1rem;
    z-index: 100;
    transform: scale(80);
  }

  &__nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }

  &__list {
    @include center-center;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 0.625rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.875rem;
      color: $color-white;
      padding: 0.625rem 1.25rem;
      text-decoration: none;
      text-transform: uppercase;
      background-size: 220%;
      background-image: linear-gradient(120deg, pink 0%, pink 50%, white 50%);
      transition: background-position 500ms ease-in-out;
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-position: 100%;
    }
  }
}
