.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.875rem 3.75rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 6px;
  padding: 3.75rem;
  padding-left: 5.625rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 9.375rem;
    height: 9.375rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translate(-2.5rem);
  }

  &__img {
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);
  }
}
